body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  header {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
  }
  
  .main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .birthday-message {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .large-rose img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ffffff;
  }
  